.create-comment{
    
    height: 10vh;
}

.list-comments{
    max-height: 90vh;
    height: 90vh;;
    overflow: auto;
}


.list-comments, .create-comment{
    background: linear-gradient(90deg, rgb(190, 230, 236), rgb(99, 195, 241));
    padding: 10px;
    border: 1px solid;
}